<%- layout("layouts/boilerPlate") %>
<style>
  .laptop_fram {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .laptop-screen {
    width: 100%;
    border-radius: 10px 10px 6px 6px; /* Rounded top corners */
    border: 4px solid black;
    /* border-bottom: none; */
    position: relative;
    border-top: 15px solid rgb(46, 43, 43);
    box-shadow: 3px 4px 4px rgba(29, 27, 27, 0.5);
  }
  .prjct {
    margin-left: 7.5rem;
  }
  @media ((min-width: 100px) and (max-width:530px)) {
    .over {
      width: 200px;
    }
    .overview{
      margin: 0% !important;
      padding: 0% !important;
    }
    .mfs{
      width: 100% !important;
      padding: 0%;

      margin: 0%;
    }
    .prjct {
      margin-left: 2rem;
      text-align: left;
    }
    .first{
        /* margin: 0% !important; */
        /* padding: 0% !important; */
        width: 100% !important;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }
    .fs1{
      padding-left: 0;
      padding-right: 0;
    }
    .bs{
      margin-left: 0px !important;
      margin-bottom: 1px;
      margin-right: 1px;
    }
  }
  .fs1{
    padding-left: 6rem;
    padding-right: 4rem;
  }
  .btn1 {
    background-color: rgb(217, 224, 230) !important;
    width: 7rem;
    color: rgb(101, 97, 97);
    height: 3rem;
  }
</style>
<div>
  <div class="container">
    <div class="row mt-5 mb-5 overview">
      <div class="col-lg-12 p-5 first mb-5 mt-5">
        <h1
          class="mt-5"
          style="font-weight: 600; font-size: 5rem; text-align: center"
        >
          Zerotha
        </h1>
        <p class="mt-3  fs-4 p-5 mfs" style="text-align: center">
            This page contains the case study of Zerotha Template 
            which includes the Project Overview, Tools Used and Live Links to the official product.
        </p>
        <a
          style="display: flex; justify-content: center; text-decoration: none"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          ><button style="width: 20%" class="btn btn-primary">
            LIVE LINK
          </button></a
        >
      </div>
      <hr style="width: 100%;">
    </div>
    <div class="row mt-5">
      <div class="col-lg-12 mb-5 laptop_fram mt-5">
        <img
          class="laptop-screen first"
          src="\image\Screenshot 2024-10-20 225427.png"
          alt=""
        />
      </div>
      <!-- <h1 class="over" style="margin-left: 10rem;">Project Overview</h1> -->
      <div class="col-lg-12">
        <h1 class="prjct mb-5">Project Overview</h1>
      </div>
      <div class="col-lg-12 fs1">
        <p class=" first   ms-5 me-5">
            This project is a full-stack Zerodha Clone designed to replicate the core 
            functionalities of the popular stock trading platform. Built using the MERN stack 
            (MongoDB, Express.js, React, Node.js), it offers a seamless interface for users to buy, sell, and manage stocks.
             The application integrates real-time data updates powered by APIs, 
             ensuring accurate and up-to-date market information. With features
              like user authentication, portfolio tracking, and an intuitive Kite dashboard, the project 
              emphasizes responsiveness, scalability, and user-centric design, making it a comprehensive solution 
              for online trading enthusiasts.
      </div>
      <div class="col-lg-12 fs1">
        <h4 class="ms-5">Key Features:</h4>
        <br />
        <ul class="bs ms-5">
          <li>
            Real-Time Stock Data: Integration with APIs to fetch and display live market prices and stock updates.
          </li>
          <li>User Authentication: Secure login and signup functionality with session management for enhanced data protection</li>
          <li>
            Portfolio Management: Users can track their stock holdings, monitor performance, and view transaction histories.
          </li>
          <li>
            Responsive Dashboard: A dynamic Kite dashboard designed for seamless navigation across mobile, tablet, and desktop devices
          </li>
        </ul>
      </div>
      <div class="col-lg-12 fs1">
        <h1 class="ms-4 bs">Tools Used</h1>
        <br />
        <button class=" ms-4 bs btn btn1">HTML</button>
        <button class="ms-4 bs btn btn1">CSS</button>
        <button class="ms-4 bs btn btn1">JavaScript</button>
        <button class="btn  ms-4 bs btn1">MongoDB</button>
        <button class="ms-4 bs btn btn1">Express</button>
        <button class="ms-4 bs btn btn1">NodeJs</button>
        <button class=" ms-4 bs btn btn1"> JWT</button>
        <button class="ms-4 bs btn btn1">React</button>
      </div>
      <div class="col-lg-12 mt-5 ">
        <a href="/"><button style=" color: black; border: 3px solid rgb(124, 12, 175);" class="btn ms-5 btn1">Go Back!</button></a>
      </div>
    </div>
  </div>
</div>
